@import "reset.css";

html {
  font-size: 10px;
  color: white;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #111;
}

.wrapper {
  display: flex;
  width: 100rem;
  min-width: 40rem;
  margin-top: 3rem;
  padding: 0 2rem;
}

.header {
  width: 20%;
  text-align: center;
  padding-right: 2rem;
  transition: all 0.5s ease;
}

.logo {
  width: 100%;
}

.navListBox {
  margin-top: 3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  color: #999;
}

.navListBox li {
  margin-top: 2rem;
  cursor: pointer;
}

.navListBox li:hover {
  color: #ff9f1c;
}

.main {
  width: 100%;
  position: relative;
  padding: 0 2rem;
  z-index: 10;
}

.mainImg::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to top, #111 10%, #111 20%, transparent);
}

.mainImg {
  height: 50rem;
  background-image: url(./images/멋사프론트엔드.png);
  position: relative;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.textSection {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 0 2rem;
}

.introduce {
  width: 70%;
}

.introTitle {
  font-size: 3.6rem;
  font-weight: 900;
}

.introContent {
  font-size: 1.6rem;
  color: #999;
  margin-top: 3rem;
  line-height: 1.5;
}

.moreInfo {
  width: 20rem;
  padding: 0 2rem;
  margin-bottom: 2rem;
}

.sideTitle {
  font-size: 1.6rem;
  font-weight: 900;
  margin-bottom: 2rem;
}

.langListBox {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.langListBox a {
  display: inline-block;
  color: #999;
  background-color: #222;
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
}

.ratingWrapper {
  margin-top: 3rem;
}

.ratingImg {
  width: 100%;
  height: 3.2rem;
  background-image: url(./images/happy.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  overflow: hidden;
}

.ratingImg::before {
  content: "";
  width: 100%;
  height: 3.2rem;
  background-image: url(./images/happy.png);
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
}

.participantWrapper {
  margin-top: 3rem;
}

.participantImg {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.participantImg:nth-of-type(2) {
  margin-left: -2rem;
}

@media screen and (max-width: 1200px) {
  .header {
    transform: translateX(250px);
    width: 0;
  }
}

@media screen and (max-width: 850px) {
  .textSection {
    flex-direction: column;
  }
  .introduce {
    width: 100%;
  }
  .moreInfo {
    width: 100%;
    padding: 0;
    margin-top: 5rem;
  }
  .sideTitle {
    font-size: 2.6rem;
  }
  .langListBox {
    gap: 1rem;
  }
  .langListBox a {
    font-size: 2rem;
    padding: 2rem 4rem;
  }
  .ratingWrapper {
    margin-top: 5rem;
  }
  .ratingImg {
    width: 35rem;
    height: 7rem;
  }
  .ratingImg::before {
    height: 7rem;
  }
  .participantWrapper {
    margin-top: 5rem;
  }
  .participantImg {
    width: 10rem;
    height: 10rem;
  }
}

@media screen and (max-width: 420px) {
  .wrapper {
    margin-top: 0;
    padding: 0;
  }
}
